.back {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 8px 8px 8px grey;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;

  .icon {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 50%;
    font-size: 1rem;
    padding: 0;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    cursor: pointer;
  }

  .name {
    border: 0;
    background-color: transparent;
    margin-bottom: 1px;
    cursor: pointer;
  }
}
