.component {
  display: inline-block;
  background-color: lightyellow;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 0.5rem;
}

.new {
  animation: new 0.7s 3;
}

@keyframes new {
  0% {
    border: 2px solid dodgerblue;
  }
  100% {
    border: 2px solid gray;
  }
}

.selected {
  border: 2px solid dodgerblue;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.2rem;

  .activeButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5rem;
  }

  .inactiveButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5rem;
    opacity: 0;
    cursor: grab;
    pointer-events: none;
  }
}
