@mixin handle {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  background-color: transparent;
  border: none;
  z-index: 1;
}

@mixin arrow {
  position: absolute;
  background-color: lightcyan;
  border-radius: 50%;
  border: 1px solid gray;
  font-size: 0.8rem;
  z-index: 0;
}

.topHandle {
  @include handle;
  top: -20px;
}

.topArrow {
  @include arrow;
  top: -20px;
  left: calc(50% - 8px);
}

.rightHandle {
  @include handle;
  right: -20px;
}

.rightArrow {
  @include arrow;
  right: -20px;
  top: calc(50% - 8px);
}

.bottomHandle {
  @include handle;
  bottom: -20px;
}

.bottomArrow {
  @include arrow;
  bottom: -20px;
  right: calc(50% - 8px);
}

.leftHandle {
  @include handle;
  left: -20px;
}

.leftArrow {
  @include arrow;
  left: -20px;
  top: calc(50% - 8px);
}

.centerHandle {
  z-index: -1;
  top: calc(50% - 4px);
}
