@mixin handle {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  background-color: transparent;
  border: none;
  z-index: 1;
}

@mixin arrow {
  position: absolute;
  background-color: lightcyan;
  z-index: 0;
}

.topHandle {
  @include handle;
  top: -13px;
}

.topArrow {
  @include arrow;
  top: -20px;
  left: calc(50% - 7px);
}

.rightHandle {
  @include handle;
  right: -13px;
}

.rightArrow {
  @include arrow;
  right: -20px;
  top: calc(50% - 7px);
}

.bottomHandle {
  @include handle;
  bottom: -13px;
}

.bottomArrow {
  @include arrow;
  bottom: -20px;
  right: calc(50% - 7px);
}

.leftHandle {
  @include handle;
  left: -13px;
}

.leftArrow {
  @include arrow;
  left: -20px;
  top: calc(50% - 7px);
}

.centerHandle {
  z-index: -1;
  top: calc(50% - 4px);
}

.none {
  visibility: hidden;
  pointer-events: none;
}
