.component {
  display: inline-block;
  background-color: lightyellow;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 0.5rem;
}

.locked {
  background-color: #eeeeee;
  border-radius: 5px;
}

.editing {
  border: 2px solid dodgerblue;
  border-radius: 5px;
}

.selected {
  border: 2px solid dodgerblue;
  border-radius: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;

  .picker {
    position: relative;
    top: 5px;
    left: 0;
  }

  .icon {
    font-family: 'Courier New', monospace, monospace;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 50%;
    font-size: 1rem;
    padding: 0;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    cursor: pointer;
  }

  .icon:focus {
    outline: none;
    cursor: text;
  }
}

.properties {
  display: flex;
  flex-direction: column;
}

.methods {
  display: flex;
  flex-direction: column;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.2rem;

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.3rem;
  }

  div:nth-child(2) {
    margin-left: 0.5rem;
  }

  .button {
    visibility: hidden;
    cursor: pointer;
  }
}

.line:hover {
  .button {
    visibility: visible;
  }
}

.input {
  font-family: 'Courier New', monospace, monospace;
  border: 0;
  background-color: transparent;
  margin-bottom: 1px;
  cursor: pointer;
}

.input:focus {
  outline: none;
  margin-bottom: 0;
  border-bottom: 1px solid gray;
  cursor: text;
}
