.page {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  border: 1px solid gray;
  padding: 3px 8px 8px 8px;
  border-radius: 5px;

  .sessions {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }
}

.session {
  display: flex;
  flex-direction: column;

  border: 1px solid gray;
  border-radius: 5px;
  width: 40vw;

  .messages {
    display: inline-flex;
    flex-direction: column;
    height: 12rem;
    padding: 5px;
  }

  .buttons {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 0.3rem;
    column-gap: 0.5rem;
    padding: 5px;
    border-top: 1px solid gray;

    button {
      height: 1.5rem;
      border-radius: 5px;
    }
  }
}
